*{
    box-sizing: border-box;
}

body{
    background-color:white;
    margin: 0vw;
}

h1{
    color: rgb(249, 71, 38);
/*    color: orangered;*/
    font-size: 6vw;
    font-family: serif;
    margin-top: 10vh;
    text-align: center;
    display: relative;
    z-index: 1;
}

h2{
    color: grey;
    font-size: 1.25vw;
    font-family: sans-serif;
    font-style: italic;
/*    margin-top: 1vh;*/
    text-align: center;
}

h3{
    color: black;
    font-size: 2vw;
    font-family: sans-serif;
    padding-top: 6vh;
    padding-bottom: 4vh;
    text-decoration: none;
/*    text-align: center;*/
}

.h4{
    color: grey;
    font-size: .8vw;
    font-family: sans-serif;
    font-style: italic;
/*    text-align: left;*/
    padding-bottom: 8vh;

}

h5{
     color: white;
    font-size: 1vw;
    font-family: sans-serif;
    font-weight: 13;
/*    font-style: italic;*/
        padding-top: 2vh;
/*    margin-top: 1vh;*/
/*    text-align: center;*/
}

.column{
float:left;
background-color: aliceblue;

}

.column.side{
    width:25%;
}

.column.main{
    width:70%;
/*    margin: 3vw;*/
}

.main-section{
/*    opacity: 80%;*/
    margin: 2vh;
    text-align: center;
    padding: 5vw;
/*    max-width: 75%;*/
/*
    display: absolute;
    z-index: 2;
*/
/*    float:left;*/
}

.side{
    background-color: orangered;
    margin: 3vh;
    text-align: center;
    border-radius: 30px;
    text-decoration: none;
/*    max-width: 25%;*/
/*
    display: fixed;
    z-index: 2;
*/
}

footer{
/*    display: fixed;*/
/*    z-index: -2;*/
/*    margin-top: 190vh;*/
    max-width: 100%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
/*    padding: 3vh;*/
}