body{
background-color: black;
}

.container{
    width: 100vw;
    height: 100vh;
    position: relative;
    margin: 0;
}

h1{
    color:lightyellow;
    font-family: sans-serif;
    font-size: 2vw;
    padding-left: 10vw;
    position:fixed;
    z-index: 0;
}

.computer{
    text-align: center;
    position:fixed;
}

.computerStack{
    z-index: 9;
    margin-top: 45vh;
/*    margin-left: 35vw;*/
}

.image-Stack1{
    position: absolute;
    z-index: 2;
    margin-top: 7vh;
    padding-left: 22vw;
}

.image-Stack2{
    position: absolute;
    z-index: 3;
    margin-top: 16vh;
    padding-left: 18vw;
}

.image-Stack3{
    position: absolute;
    z-index: 4;
    margin-top: 30vh;
    padding-left: 15vw;
}

.image-Stack4{
    position: absolute;
    z-index: 5;
    margin-top: 22vh;
    padding-left: 11vw;
}

.image-Stack5{
    position: absolute;
    z-index: 6;
    margin-top: 23vh;
    padding-left: 16vw;
}

.audio-Stack{
    position:fixed;
    z-index: 10;
    margin-top: 2vh;
    margin-left: 76vw;
}